<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-markup"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot; lang=&quot;ja&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;link th:href=&quot;@{/css/style.css}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
  &lt;title&gt;PicTweet&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
&lt;div th:insert=&quot;~{header :: header}&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;contents row&quot;&gt;
  &lt;p th:text=&quot;${nickname} + &#x27;さんの投稿一覧&#x27;&quot;&gt;&lt;/p&gt;

  &lt;div th:each=&quot;tweet : ${tweets}&quot; class=&quot;content_post&quot; th:style=&quot;&#x27;background-image: url(&#x27; + (${tweet.image}) + &#x27;);&#x27;&quot;&gt;
    &lt;p th:text=&quot;${tweet.text}&quot;&gt;&lt;/p&gt;
    &lt;span class=&quot;name&quot; th:text=&quot;${tweet.name}&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;  
&lt;/div&gt;

&lt;div th:insert=&quot;~{footer :: footer}&quot;&gt;&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

</body>
</html>