<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-markup" data-line="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24" data-start="1"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;購入フォーム&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; th:href=&quot;@{/css/style.css}&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form th:action=&quot;@{/orders}&quot; th:object=&quot;${orderForm}&quot; method=&quot;post&quot; id=&quot;charge-form&quot; class=&quot;card-form&quot;&gt;
    &lt;!-- エラーメッセージ --&gt;
    &lt;div th:if=&quot;${#fields.hasErrors(&#x27;*&#x27;)}&quot; class=&quot;error-alert&quot;&gt;
        &lt;ul&gt;
            &lt;li th:each=&quot;error : ${#fields.errors(&#x27;*&#x27;)}&quot; th:text=&quot;${error}&quot; class=&quot;error-message&quot;&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-wrap&quot;&gt;
        &lt;label for=&quot;price&quot;&gt;金額&lt;/label&gt;
        &lt;input type=&quot;number&quot; th:field=&quot;*{price}&quot; class=&quot;price&quot; placeholder=&quot;例)2000&quot;&gt;
    &lt;/div&gt;
    &lt;input type=&quot;submit&quot; value=&quot;購入&quot; class=&quot;button&quot; id=&quot;button&quot;&gt;
&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>