<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-markup" data-line="21,30"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot; lang=&quot;ja&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;link th:href=&quot;@{/css/style.css}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
  &lt;title&gt;PicTweet&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;

&lt;div th:insert=&quot;~{header :: header}&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;contents row&quot;&gt;
  &lt;div th:each=&quot;tweet : ${tweets}&quot; class=&quot;content_post&quot; th:style=&quot;&#x27;background-image: url(&#x27; + (${tweet.image}) + &#x27;);&#x27;&quot;&gt;
    &lt;div class=&quot;more&quot;&gt;
      &lt;span&gt;&lt;img th:src=&quot;@{/images/arrow_top.png}&quot; /&gt;&lt;/span&gt;
      &lt;ul class=&quot;more_list&quot;&gt;
        &lt;li&gt;
          &lt;a th:href=&quot;@{/tweets/{tweetId}(tweetId=${tweet.id})}&quot;&gt;詳細&lt;/a&gt;
        &lt;/li&gt;
        &lt;div th:if=&quot;${#authorization.expression(&#x27;isAuthenticated()&#x27;) and #authentication?.principal.getId() == tweet.user.id}&quot;&gt;
          &lt;li&gt;
            &lt;a th:href=&quot;@{/tweets/{tweetId}/edit(tweetId=${tweet.id})}&quot; class=&quot;update-btn&quot;&gt;編集&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;form th:action=&quot;@{/tweets/{tweetId}/delete(tweetId=${tweet.id})}&quot; th:method=&quot;post&quot;&gt;
              &lt;input type=&quot;submit&quot; class=&quot;delete-btn&quot; value=&quot;削除&quot;&gt;
            &lt;/form&gt;
          &lt;/li&gt;
        &lt;/div&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;p th:text=&quot;${tweet.text}&quot;&gt;&lt;/p&gt;
    &lt;span class=&quot;name&quot;&gt;
      &lt;a th:href=&quot;@{/users/{id}(id=${tweet.user.id})}&quot;&gt;
        &lt;span&gt;投稿者&lt;/span&gt;&lt;span th:text=&quot;${tweet.user.nickname}&quot;&gt;&lt;/span&gt;
      &lt;/a&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div th:insert=&quot;~{footer :: footer}&quot;&gt;&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>