<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-django"><code>{# X：レコードの数だけ同じテンプレートをインラインで繰り返している #}
{% for user in users %}
&lt;div class=&quot;user-container&quot;&gt;
  &lt;p&gt;{{ user.name }}&lt;/p&gt;
  &lt;p&gt;{{ user.profile }}&lt;/p&gt;
&lt;/div&gt;
{% endfor %}

{# ◯：{% include %}タグで部品として再利用している #}
{% for user in users %}
  {% include &#x27;users/_user_container.html&#x27; with user=user %}
{% endfor %}</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-django.min.js"></script>
</body>
</html>
