<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-plaintext"><code>&lt;!-- ☓：レコードの数だけ同じビューを繰り返す部分で、th:eachのみ使用している --&gt;
&lt;div th:each=&quot;post : ${posts}&quot;&gt;
    &lt;div class=&quot;post-container&quot;&gt;
        &lt;p th:text=&quot;${post.title}&quot;&gt;&lt;/p&gt;
        &lt;p th:text=&quot;${post.body}&quot;&gt;&lt;/p&gt;
        &lt;p th:text=&quot;${post.user.name}&quot;&gt;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- ◯：繰り返しをThymeleafのfragmentで定義している --&gt;
&lt;!-- 部分テンプレートを使用する理由は再利用性が高まり、変更箇所が一箇所にまとまるから --&gt;
&lt;div th:each=&quot;post : ${posts}&quot;&gt;
    &lt;div th:replace=&quot;~{fragments/post :: postCard(post=${post})}&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

</body>
</html>
