<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-java" data-line="3,8"><code>// 省略

 &lt;form th:action=&quot;@{/rooms/{roomId}/messages(roomId=${room.id})}&quot; method=&quot;post&quot; th:object=&quot;${messageForm}&quot; class=&quot;form&quot; enctype=&quot;multipart/form-data&quot;&gt;
    &lt;div class=&quot;form-input&quot;&gt;
      &lt;input th:field=&quot;*{content}&quot; class=&quot;form-message&quot; placeholder= &quot;type a message&quot;&gt;
      &lt;label class=&quot;form-image&quot;&gt;
        &lt;span class=&quot;image-file&quot;&gt;画像&lt;/span&gt;
        &lt;input type=&quot;file&quot; th:field=&quot;*{image}&quot; class=&quot;hidden&quot;&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;input class=&quot;form-submit&quot; type=&quot;submit&quot; value=&quot;送信&quot;&gt;  
  &lt;/form&gt;
&lt;/div&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>