<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-javascript" data-line="5"><code>&lt;tr v-for=&quot;goods in goodsStore.goods&quot; :key=&quot;goods.id&quot;&gt;
  &lt;td @click=&quot;showDetail(goods)&quot;&gt;{{ goods.name}}&lt;/td&gt;
  &lt;td&gt;{{ goods.quantity }}&lt;/td&gt;
  &lt;td&gt;
    &lt;select v-model=&quot;goods.statusId&quot; class=&quot;form_input&quot; @change=&quot;genreSelect(goods)&quot;&gt; 
    &lt;option :value=&quot;index&quot; v-for=&quot;(status, index) in statusList&quot; :key=&quot;index&quot;&gt;{{ status }}&lt;/option&gt;
    &lt;/select&gt;
  &lt;/td&gt;
&lt;/tr&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>