<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-markup" data-start="1"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;記事投稿&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; th:href=&quot;@{/css/new.css}&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form th:action=&quot;@{/articles}&quot; th:object=&quot;${articleForm}&quot; method=&quot;post&quot;&gt;
        &lt;div class=&quot;article-box&quot;&gt;
            記事を投稿する
            &lt;input type=&quot;text&quot; th:field=&quot;*{title}&quot; class=&quot;title&quot; placeholder=&quot;タイトル&quot;&gt;
            &lt;textarea th:field=&quot;*{text}&quot; class=&quot;text&quot; placeholder=&quot;テキスト&quot;&gt;&lt;/textarea&gt;

            &lt;select th:field=&quot;*{genreId}&quot; class=&quot;genre-select&quot;&gt;
                &lt;option th:each=&quot;genre : ${genres}&quot;
                        th:value=&quot;${genre.id}&quot;
                        th:text=&quot;${genre.name}&quot;&gt;
                &lt;/option&gt;
            &lt;/select&gt;

            &lt;!-- バリデーションエラーメッセージの表示 --&gt;
            &lt;div th:if=&quot;${#fields.hasErrors(&#x27;*&#x27;)}&quot; class=&quot;error-messages&quot;&gt;
                &lt;ul&gt;
                    &lt;li th:each=&quot;err : ${#fields.allErrors()}&quot; th:text=&quot;${err}&quot;&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;

            &lt;input type=&quot;submit&quot; value=&quot;投稿する&quot; class=&quot;btn&quot;&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

</body>
</html>