<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-java" data-line="11,12,13,14,16,17,18,19"><code>省略
&lt;div class=&quot;contents row&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;h2&gt;Sign up&lt;/h2&gt;
    &lt;div class=&quot;form&quot;&gt;
      &lt;div th:if=&quot;${errorMessages}&quot; th:each=&quot;error : ${errorMessages}&quot;&gt;
        &lt;div th:text=&quot;${error}&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;form th:action=&quot;@{/user}&quot; th:method=&quot;post&quot; th:object=&quot;${userForm}&quot; class=&quot;new_user&quot;&gt;
      
        &lt;div class=&quot;field&quot;&gt;
          &lt;label for=&quot;firstName&quot;&gt;First Name&lt;/label&gt;&lt;em&gt;(6 characters maximum)&lt;/em&gt;&lt;br /&gt;
          &lt;input type=&quot;text&quot; id=&quot;firstName&quot; th:field=&quot;*{firstName}&quot; autofocus=&quot;autofocus&quot; maxlength=&quot;6&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;field&quot;&gt;
          &lt;label for=&quot;lastName&quot;&gt;Last Name&lt;/label&gt;&lt;em&gt;(6 characters maximum)&lt;/em&gt;&lt;br /&gt;
          &lt;input type=&quot;text&quot; id=&quot;lastName&quot; th:field=&quot;*{lastName}&quot; maxlength=&quot;6&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;field&quot;&gt;
          &lt;label for=&quot;email&quot;&gt;Email&lt;/label&gt;&lt;br /&gt;
          &lt;input type=&quot;email&quot; id=&quot;email&quot; th:field=&quot;*{email}&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;field&quot;&gt;
          &lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;&lt;em&gt;(6 characters minimum)&lt;/em&gt;
          &lt;input type=&quot;password&quot; id=&quot;password&quot; th:field=&quot;*{password}&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;field&quot;&gt;
          &lt;label for=&quot;password_confirmation&quot;&gt;Password confirmation&lt;/label&gt;
          &lt;input type=&quot;password&quot; th:field=&quot;*{passwordConfirmation}&quot; id=&quot;password_confirmation&quot; autocomplete=&quot;off&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;actions&quot;&gt;
          &lt;input type=&quot;submit&quot; value=&quot;Sign up&quot;&gt;
        &lt;/div&gt;

省略</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>