<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-markup" data-line="12,13,14,15,16,17,18,19,23,24,25,26,27"><code>{% load static %}

&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;ja&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Pictweet&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;{% static &#x27;css/style.css&#x27; %}&quot;&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;header class=&quot;header&quot;&gt;
    &lt;div class=&quot;header__bar row&quot;&gt;
      &lt;h1 class=&quot;grid-6&quot;&gt;&lt;a href=&quot;/&quot;&gt;PicTweet&lt;/a&gt;&lt;/h1&gt;
      &lt;div class=&quot;user_nav grid-6&quot;&gt;
        &lt;a class=&quot;post&quot; href=&quot;&quot;&gt;投稿する&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/header&gt;

  {% block content %}{% endblock content %}

  &lt;footer&gt;
    &lt;p&gt;
    Copyright PicTweet 2023.
    &lt;/p&gt;
  &lt;/footer&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>