<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; background-color: #2d2d2d; }
        pre { margin: 0 !important; border-radius: 0; border: none; }
        .line-highlight { background: rgba(255, 255, 255, 0.1) !important; }
        .line-highlight::before,
        .line-highlight::after { display: none; }
    </style>
</head>
<body>
<pre class="language-java" data-line="5,9,11,12,13,14,16,17"><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot; lang=&quot;ja&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;AjaxApp&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; th:href=&quot;@{/css/style.css}&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;AjaxApp&lt;/h1&gt;

  &lt;form th:action=&quot;@{/posts}&quot; method=&quot;post&quot; th:object=&quot;${postForm}&quot; id=&quot;form&quot;&gt;
    &lt;input type=&quot;text&quot; th:field=&quot;*{content}&quot;/&gt;
    &lt;input type=&quot;submit&quot; value=&quot;投稿する&quot; id=&quot;submit&quot;/&gt;
  &lt;/form&gt;

&lt;div id=&quot;list&quot;&gt;
&lt;/div&gt;

  &lt;div th:each=&quot;post : ${postList}&quot;&gt;
    &lt;div class=&quot;post&quot;&gt;
      &lt;div class=&quot;post-date&quot;&gt;
        投稿日時：&lt;span th:text=&quot;${post.createdAt}&quot;&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;post-content&quot;&gt;
        &lt;span th:text=&quot;${post.content}&quot;&gt;&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
</body>
</html>